.mynewnavbar{
    background: white; 
    margin-bottom: 0px !important;
  }
  
  .navbarnewcontainer{
    vertical-align: 50%;
  }

  .navbarLogoTraveler{
    font-size: 40px;
    color:blue;
    margin-left: 20%;
    
  }
  .navbarbirdhouse{
    padding: 1%;
  }
  .navbar-header{
    padding-top: 0.5%;
  }