  .loginDiv{
    background-color:rgba(0, 0, 0, 0.1);
    
  }

  .travelerLoginBackground{
    background-color:rgba(0, 0, 0, 0.075);
  }
  .travelerLoginFormBackground{
    margin: 3%;
    padding: 1%;
  }
  .travelerLoginClass{
    text-align: center;
    padding:1%;
  }
  .travelerLoginBack{
    background-color: white;
    padding: 2%;
    margin-left: 33%;
    margin-right: 33%;
  }
  .travelerLoginText{
    font-size: 40px;
  }
  .travelerLoginInputFont{
    font-size: 20px;
    height: 50px;  
  }
.travelerLoginButton{
  background-color: darkorange;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 40px;  
}